/uploads
dev.js

# dependencies
/node_modules
/.pnp
.pnp.js
.vscode

# production
/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# git add . : add all the files in working dir. to the staging area
# git status : show files in staging area (potential files to be added to the git)
# git commit -m "message" : make a commit locally

# Push an existing repository from the command line
# git remote add origin https://github.com/jino-kwon/portfolio.git
# git branch -M main
# git push -u origin main

# git push -u origin main
